__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/
logs/
*.log
.env
.env.local
.vscode/
.idea/
*.swp
*.swo
*.sublime-*
.DS_Store
Thumbs.db
backups/
tmp/
temp/
.docker/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

.scripts/
.data/elasticsearch_data/
.data/grafana_data/
.data/kafka_data/
.data/prometheus_data/
.data/zookeeper_data/
.data/zookeeper_logs/
.logs/

